<div class="uk-grid" data-uk-grid-margin>
  <!-- left area -->
  <div class="uk-width-medium-1-4">

    <div class="uk-panel uk-panel-box">
      <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-3">
          <img src="images/horimislime.png">
        </div>
        <div class="uk-width-medium-2-3">
          <h3 class="uk-panel-title">horimislime</h3>
          <p>2 holds</p>
        </div>
      </div>
    </div>

    <div class="uk-panel uk-panel-box">
      <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-3">
          <img src="images/horimislime.png">
        </div>
        <div class="uk-width-medium-2-3">
          <h3 class="uk-panel-title">horimislime</h3>
          <p>2 holds</p>
        </div>
      </div>
    </div>

    <div class="uk-panel uk-panel-box">
      <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-3">
          <img src="images/horimislime.png">
        </div>
        <div class="uk-width-medium-2-3">
          <h3 class="uk-panel-title">horimislime</h3>
          <p>2 holds</p>
        </div>
      </div>
    </div>

    <div class="uk-panel uk-panel-box">
      <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-3">
          <img src="images/horimislime.png">
        </div>
        <div class="uk-width-medium-2-3">
          <h3 class="uk-panel-title">horimislime</h3>
          <p>2 holds</p>
        </div>
      </div>
    </div>

  </div>

  <!-- content area -->
  <div class="uk-width-medium-3-4">
    <article class="uk-article">
      <h3>Board</h3>

      <table class="uk-table uk-table-hover">
        <thead>
          <tr>
            <th>env</th>
            <th>assigned</th>
            <th>server</th>
            <th>frontend</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span>dev1.example.com</span>
            </td>
            <td>
              <img src="images/horimislime.png">
            </td>
            <td>
              <p>houkago-server</p>
              <p>master</p>
              <p>17e2e34319</p>
              <p>2015-02-01 10:00:00</p>
            </td>
            <td>
              <p>houkago-server</p>
              <p>master</p>
              <p>17e2e34319</p>
              <p>2015-02-01 10:00:00</p>
            </td>
          </tr>
          <tr>
            <td>
              <span>dev2.example.com</span>
            </td>
            <td>
              <img src="images/horimislime.png">
            </td>
            <td>
              <p>houkago-server</p>
              <p>master</p>
              <p>17e2e34319</p>
              <p>2015-02-01 10:00:00</p>
            </td>
            <td>
              <p>houkago-server</p>
              <p>master</p>
              <p>17e2e34319</p>
              <p>2015-02-01 10:00:00</p>
            </td>
          </tr>
          <tr>
            <td>
              <span>dev3.example.com</span>
            </td>
            <td>
              <img src="images/horimislime.png">
            </td>
            <td>
              <p>houkago-server</p>
              <p>master</p>
              <p>17e2e34319</p>
              <p>2015-02-01 10:00:00</p>
            </td>
            <td>
              <p>houkago-server</p>
              <p>master</p>
              <p>17e2e34319</p>
              <p>2015-02-01 10:00:00</p>
            </td>
          </tr>
        </tbody>

      </table>
    </article>
  </div>

</div>
